{% extends 'corona/header.html' %}

{% block title %}Safety & Measures{%endblock %}

{%block css%}
img{
  max-height:300px
}

{%endblock%}


{% block body %}
{%load static%}
<div class="container col-md-8" style="background-color:white;opacity:0.9">
    <h1>Myth buster section.Please share.</h1>
    <hr>

  <div class="card-deck container ">
      <div class="card">
        <h3 class="card-title">5G mobile networks DO NOT spread COVID-19</h3>
        <img class="card-img-top img" src="{% static "corona/myth/1.png"%}" alt="Card image cap">
        <div class="card-body">
          
          <p class="card-text">viruses cannot travel on radio waves/mobile networks. covid-19 is spreading in many countries that do not have 5g mobile networks.

covid-19 is spread through respiratory droplets when an infected person coughs, sneezes or speaks. people can also be infected by touching a contaminated surface and then their eyes, mouth or nose. </p>
          <a class="btn btn-outline-danger" href="{% static "corona/myth/1.png"%}" download="awarness_programm">Download</a>
        </div>
      </div>
      
      </div>
    
    
    <hr>
    <div class="card-deck  container">
      <div class="card">
        <h3 class="card-title">Exposing yourself to the sun or to temperatures higher than 25C degrees DOES NOT prevent the coronavirus disease (COVID-19)</h3>
        <img class="card-img-top" src="{% static "corona/myth/2.jpg"%}" alt="Card image cap">
        <div class="card-body">
          
          <p class="card-text">you can catch covid-19, no matter how sunny or hot the weather is. countries with hot weather have reported cases of covid-19. to protect yourself, make sure you clean your hands frequently and thoroughly and avoid touching your eyes, mouth, and nose.</p>
          <a class="btn btn-outline-danger" href="{% static "corona/myth/2.jpg"%}" download="awarness_programm">Download</a>
        </div>
      </div>
      
      </div>
    
    
    <hr>
    <div class="card-deck  container">
      <div class="card">
        <h3 class="card-title">You can recover from the coronavirus disease (COVID-19). Catching the new coronavirus DOES NOT mean you will have it for life.</h3>
          <img class="card-img-top" src="{% static "corona/myth/3.jpg"%}" alt="Card image cap" >
        <div class="card-body">
          
          <p class="card-text">most of the people who catch covid-19 can recover and eliminate the virus from their bodies. if you catch the disease, 
            make sure you treat your symptoms. if you have cough, fever, and difficulty breathing, 
            seek medical care early – but call your health facility by telephone first. most patients recover thanks to supportive care.</p>
          <a class="btn btn-outline-danger" href="{% static "corona/myth/3.jpg"%}" download="awarness_programm">Download</a>
        </div>
      </div>
      
      </div>
    
    
    <hr>
    <div class="card-deck  container">
      <div class="card">
        <h3 class="card-title">being able to hold your breath for 10 seconds or more without coughing or feeling discomfort does not mean you are free from the coronavirus disease (covid-19) or any other lung disease.</h3>
        <img class="card-img-top" src="{% static "corona/myth/4.jpg"%}" alt="Card image cap">
        <div class="card-body">
          
          <p class="card-text">The most common symptoms of COVID-19 are dry cough, tiredness and fever. Some people may develop more severe forms of the disease,
             such as pneumonia. The best way to confirm if you have  the virus producing COVID-19 disease is with a laboratory test.  
             You cannot confirm it with this breathing exercise, which can even be dangerous.</p>
          <a class="btn btn-outline-danger" href="{% static "corona/myth/4.jpg"%}" download="awarness_programm">Download</a>
        </div>
      
      </div>
    
    
    <hr>
    <div class="card-deck  container">
      <div class="card">
        <h3 class="card-title">drinking alcohol does not protect you against covid-19 and can be dangerous</h3>
        <img class="card-img-top" src="{% static "corona/myth/5.jpg"%}" alt="Card image cap">
        <div class="card-body">
          
          <p class="card-text">frequent or excessive alcohol consumption can increase your risk of health problems. </p>
          <a class="btn btn-outline-danger" href="{% static "corona/myth/5.jpg"%}" download="awarness_programm">Download</a>
        </div>
      </div>
      
      </div>
    
    
    <hr>
    <div class="card-deck  container">
      <div class="card">
        <h3 class="card-title">covid-19 virus can be transmitted in areas with hot and humid climates</h3>
          <img class="card-img-top" src="{% static "corona/myth/6.png"%}" alt="Card image cap" >
        <div class="card-body">
          
          <p class="card-text">from the evidence so far, the covid-19 virus can be transmitted in all areas, including areas with hot and humid weather. 
            regardless of climate, adopt protective measures if you live in, or travel to an area reporting covid-19. 
            the best way to protect yourself against covid-19 is by frequently cleaning your hands.
             by doing this you eliminate viruses that may be on your hands and avoid infection that could occur by then touching your eyes, mouth, and nose.</p>
          <a class="btn btn-outline-danger" href="{% static "corona/myth/6.png"%}" download="awarness_programm">Download</a>
        </div>
      </div>
      
      </div>
    
    </div>
     
  <h3 style="color:green">To download this image, click over download button.Please share this myth buster to your love ones and protect them form myth.#sharing #spreading_love #myth #kill_myth #myth_buster </h3>       
</div>  


{% block footer%}


{%endblock%}
{% endblock%}