
{% extends 'corona/header.html' %}

{% block title %}Major Precaution{% endblock %}

{% block css%}


{% endblock%}

{% load static %}
{% block body %}

<div class="container" style="background-color:white;opacity:0.9">
<h1>Visitors are requested to think  over and share this images to spread awarness.</h1><hr>
<div class="card-deck">
    <div class="card">
     <img class="card-img-top" src="{% static "corona/image/1.png"%}" alt="Card image cap">
      <div class="card-body">
        <a class="btn btn-outline-danger" href="{% static "corona/image/1.png"%}" download="awarness_programm">Download</a>
        <p class="card-text">Visitors are heartly, requested to use social media platform to spread awarness to fight against pandemic corona.Stay away from myth and don't share wrong content as well as false myth. </p>
        
      </div>
    </div>
    <div class="card">
      <img class="card-img-top" src="{% static "corona/image/2.png"%}" alt="Card image cap">
      <div class="card-body">
        <a class="btn btn-outline-danger" href="{% static "corona/image/2.png"%}" download="awarness_programm">Download</a>
        <p class="card-text">Visitors are heartly, requested to use social media platform to spread awarness to fight against pandemic corona.Stay away from myth and don't share wrong content as well as false myth. </p>
        
      </div>
    </div>
    <div class="card">
        <img class="card-img-top" src="{% static "corona/image/3.png"%}" alt="Card image cap" >
      <div class="card-body">
        <a class="btn btn-outline-danger" href="{% static "corona/image/3.png"%}" download="awarness_programm">Download</a>
        <p class="card-text">Visitors are heartly, requested to use social media platform to spread awarness to fight against pandemic corona.Stay away from myth and don't share wrong content as well as false myth. </p>
        
      </div>
    </div>
  </div>
  <hr>
  <div class="card-deck">
    <div class="card">
      <img class="card-img-top" src="{% static "corona/image/4.png"%}" alt="Card image cap">
      <div class="card-body">
        <a class="btn btn-outline-danger" href="{% static "corona/image/4.png"%}" download="awarness_programm">Download</a>
        <p class="card-text">Visitors are heartly, requested to use social media platform to spread awarness to fight against pandemic corona.Stay away from myth and don't share wrong content as well as false myth. </p>
        
      </div>
    </div>
    <div class="card">
      <img class="card-img-top" src="{% static "corona/image/5.png"%}" alt="Card image cap">
      <div class="card-body">
        <a class="btn btn-outline-danger" href="{% static "corona/image/5.png"%}" download="awarness_programm">Download</a>
        <p class="card-text">Visitors are heartly, requested to use social media platform to spread awarness to fight against pandemic corona.Stay away from myth and don't share wrong content as well as false myth. </p>
        
      </div>
    </div>
    <div class="card">
        <img class="card-img-top" src="{% static "corona/image/6.png"%}" alt="Card image cap" >
      <div class="card-body">
        <a class="btn btn-outline-danger" href="{% static "corona/image/6.png"%}" download="awarness_programm">Download</a>
        <p class="card-text">Visitors are heartly, requested to use social media platform to spread awarness to fight against pandemic corona.Stay away from myth and don't share wrong content as well as false myth. </p>
        
      </div>
    </div>
  </div><hr>
  <h1>Be ready for coronavirus</h1>
  <div class="card-deck">
      <div class="card">
        <img class="card-img-top" src="{% static "corona/image/8.jpg"%}" alt="Card image cap">
        <div class="card-body">
          <a class="btn btn-outline-danger" href="{% static "corona/image/8.jpg"%}" download="awarness_programm">Download</a>
          <p class="card-text">Visitors are heartly, requested to use social media platform to spread awarness to fight against pandemic corona.Stay away from myth and don't share wrong content as well as false myth. </p>
          
        </div>
      </div>
      <div class="card">
        <img class="card-img-top" src="{% static "corona/image/9.jpg"%}" alt="Card image cap">
        <div class="card-body">
          <a class="btn btn-outline-danger" href="{% static "corona/image/9.jpg"%}" download="awarness_programm">Download</a>
          <p class="card-text">Visitors are heartly, requested to use social media platform to spread awarness to fight against pandemic corona.Stay away from myth and don't share wrong content as well as false myth. </p>
          
        </div>
      </div>
      <div class="card">
          <img class="card-img-top" src="{% static "corona/image/10.jpg"%}" alt="Card image cap" >
        <div class="card-body">
          <a class="btn btn-outline-danger" href="{% static "corona/image/10.jpg"%}" download="awarness_programm">Download</a>
          <p class="card-text">Visitors are heartly, requested to use social media platform to spread awarness to fight against pandemic corona.Stay away from myth and don't share wrong content as well as false myth. </p>
          
        </div>
      </div>
    </div>
    <hr>
    <div class="card-deck">
      <div class="card">
        <img class="card-img-top" src="{% static "corona/image/11.jpg"%}" alt="Card image cap">
        <div class="card-body">
          <a class="btn btn-outline-danger" href="{% static "corona/image/11.jpg"%}" download="awarness_programm">Download</a>
          <p class="card-text">Visitors are heartly, requested to use social media platform to spread awarness to fight against pandemic corona.Stay away from myth and don't share wrong content as well as false myth. </p>
          
        </div>
      </div>
      <div class="card">
        <img class="card-img-top" src="{% static "corona/image/12.jpg"%}" alt="Card image cap">
        <div class="card-body">
          <a class="btn btn-outline-danger" href="{% static "corona/image/12.jpg"%}" download="awarness_programm">Download</a>
          <p class="card-text">Visitors are heartly, requested to use social media platform to spread awarness to fight against pandemic corona.Stay away from myth and don't share wrong content as well as false myth. </p>
          
        </div>
      </div>
      <div class="card">
          <img class="card-img-top" src="{% static "corona/image/13.jpg"%}" alt="Card image cap" >
        <div class="card-body">
          <a class="btn btn-outline-danger" href="{% static "corona/image/13.jpg"%}" download="awarness_programm">Download</a>
          <p class="card-text">Visitors are heartly, requested to use social media platform to spread awarness to fight against pandemic corona.Stay away from myth and don't share wrong content as well as false myth. </p>
          
        </div>
      </div>
    </div>
    <hr>
    <h1>Protect yourself and others from getting sick</h1>
  <div class="card-deck">
      <div class="card">
        <img class="card-img-top" src="{% static "corona/image/14.png"%}" alt="Card image cap">
        <div class="card-body">
          <a class="btn btn-outline-danger" href="{% static "corona/image/14.png"%}" download="awarness_programm">Download</a>
          <p class="card-text">Visitors are heartly, requested to use social media platform to spread awarness to fight against pandemic corona.Stay away from myth and don't share wrong content as well as false myth. </p>
          
        </div>
      </div>
      <div class="card">
        <img class="card-img-top" src="{% static "corona/image/16.png"%}" alt="Card image cap">
        <div class="card-body">
          <a class="btn btn-outline-danger" href="{% static "corona/image/16.png"%}" download="awarness_programm">Download</a>
          <p class="card-text">Visitors are heartly, requested to use social media platform to spread awarness to fight against pandemic corona.Stay away from myth and don't share wrong content as well as false myth. </p>
          
        </div>
      </div>
      <div class="card">
          <img class="card-img-top" src="{% static "corona/image/17.png"%}" alt="Card image cap" >
        <div class="card-body">
          <a class="btn btn-outline-danger" href="{% static "corona/image/17.png"%}" download="awarness_programm">Download</a>
          <p class="card-text">Visitors are heartly, requested to use social media platform to spread awarness to fight against pandemic corona.Stay away from myth and don't share wrong content as well as false myth. </p>
          
        </div>
      </div>
    </div>
    <hr>
    <h1>COVID-19 Home care</h1>
  <div class="card-deck">
      <div class="card">
        <img class="card-img-top" src="{% static "corona/image/18.png"%}" alt="Card image cap">
        <div class="card-body">
          <a class="btn btn-outline-danger" href="{% static "corona/image/18.png"%}" download="awarness_programm">Download</a>
          <p class="card-text">Visitors are heartly, requested to use social media platform to spread awarness to fight against pandemic corona.Stay away from myth and don't share wrong content as well as false myth. </p>
          
        </div>
      </div>
      <div class="card">
        <img class="card-img-top" src="{% static "corona/image/22.png"%}" alt="Card image cap">
        <div class="card-body">
          <a class="btn btn-outline-danger" href="{% static "corona/image/22.png"%}" download="awarness_programm">Download</a>
          <p class="card-text">Visitors are heartly, requested to use social media platform to spread awarness to fight against pandemic corona.Stay away from myth and don't share wrong content as well as false myth. </p>
          
        </div>
      </div>
      <div class="card">
          <img class="card-img-top" src="{% static "corona/image/20.png"%}" alt="Card image cap" >
        <div class="card-body">
          <a class="btn btn-outline-danger" href="{% static "corona/image/20.png"%}" download="awarness_programm">Download</a>
          <p class="card-text">Visitors are heartly, requested to use social media platform to spread awarness to fight against pandemic corona.Stay away from myth and don't share wrong content as well as false myth. </p>
          
        </div>
      </div>
    </div>
    <hr>
    <div class="card-deck">
      <div class="card">
        <img class="card-img-top" src="{% static "corona/image/21.png"%}" alt="Card image cap">
        <div class="card-body">
          <a class="btn btn-outline-danger" href="{% static "corona/image/21.png"%}" download="awarness_programm">Download</a>
          <p class="card-text">Visitors are heartly, requested to use social media platform to spread awarness to fight against pandemic corona.Stay away from myth and don't share wrong content as well as false myth. </p>
          
        </div>
      </div>
      <div class="card">
        <img class="card-img-top" src="{% static "corona/image/19.png"%}" alt="Card image cap">
        <div class="card-body">
          <a class="btn btn-outline-danger" href="{% static "corona/image/19.png"%}" download="awarness_programm">Download</a>
          <p class="card-text">Visitors are heartly, requested to use social media platform to spread awarness to fight against pandemic corona.Stay away from myth and don't share wrong content as well as false myth. </p>
          
        </div>
      </div>
      <div class="card">
          <img class="card-img-top" src="{% static "corona/image/23.png"%}" alt="Card image cap" >
        <div class="card-body">
          <a class="btn btn-outline-danger" href="{% static "corona/image/23.png"%}" download="awarness_programm">Download</a>
          <p class="card-text">Visitors are heartly, requested to use social media platform to spread awarness to fight against pandemic corona.Stay away from myth and don't share wrong content as well as false myth. </p>
          
        </div>
      </div>
    </div>
    <hr>
   
    <h1>COVID-19: Pregnancy & breastfeeding</h1>
  <div class="card-deck">
      <div class="card">
        <img class="card-img-top" src="{% static "corona/image/24.png"%}" alt="Card image cap">
        <div class="card-body">
          <a class="btn btn-outline-danger" href="{% static "corona/image/24.png"%}" download="awarness_programm">Download</a>
          <p class="card-text">Visitors are heartly, requested to use social media platform to spread awarness to fight against pandemic corona.Stay away from myth and don't share wrong content as well as false myth. </p>
          
        </div>
      </div>
      <div class="card">
        <img class="card-img-top" src="{% static "corona/image/25.png"%}" alt="Card image cap">
        <div class="card-body">
          <a class="btn btn-outline-danger" href="{% static "corona/image/25.png"%}" download="awarness_programm">Download</a>
          <p class="card-text">Visitors are heartly, requested to use social media platform to spread awarness to fight against pandemic corona.Stay away from myth and don't share wrong content as well as false myth. </p>
          
        </div>
      </div>
      <div class="card">
          <img class="card-img-top" src="{% static "corona/image/26.png"%}" alt="Card image cap" >
        <div class="card-body">
          <a class="btn btn-outline-danger" href="{% static "corona/image/26.png"%}" download="awarness_programm">Download</a>
          <p class="card-text">Visitors are heartly, requested to use social media platform to spread awarness to fight against pandemic corona.Stay away from myth and don't share wrong content as well as false myth. </p>
          
        </div>
      </div>
    </div>
    <hr>
    <div class="card-deck">
      <div class="card">
        <img class="card-img-top" src="{% static "corona/image/27.png"%}" alt="Card image cap">
        <div class="card-body">
          <a class="btn btn-outline-danger" href="{% static "corona/image/27.png"%}" download="awarness_programm">Download</a>
          <p class="card-text">Visitors are heartly, requested to use social media platform to spread awarness to fight against pandemic corona.Stay away from myth and don't share wrong content as well as false myth. </p>
          
        </div>
      </div>
      <div class="card">
        <img class="card-img-top" src="{% static "corona/image/28.png"%}" alt="Card image cap">
        <div class="card-body">
          <a class="btn btn-outline-danger" href="{% static "corona/image/28.png"%}" download="awarness_programm">Download</a>
          <p class="card-text">Visitors are heartly, requested to use social media platform to spread awarness to fight against pandemic corona.Stay away from myth and don't share wrong content as well as false myth. </p>
          
        </div>
      </div>
      <div class="card">
          <img class="card-img-top" src="{% static "corona/image/29.png"%}" alt="Card image cap" >
        <div class="card-body">
          <a class="btn btn-outline-danger" href="{% static "corona/image/29.png"%}" download="awarness_programm">Download</a>
          <p class="card-text">Visitors are heartly, requested to use social media platform to spread awarness to fight against pandemic corona.Stay away from myth and don't share wrong content as well as false myth. </p>
          
        </div>
      </div>
    </div>
    <hr>
    <h1>How to cope with stress during 2019-nCoV outbreak</h1>
  <div class="card-deck ">
      <div class="card">
        <img class="card-img-top" src="{% static "corona/image/30.jpg"%}" alt="Card image cap">
        <div class="card-body">
          <a class="btn btn-outline-danger" href="{% static "corona/image/30.jpg"%}" download="awarness_programm">Download</a>
          <p class="card-text">Visitors are heartly, requested to use social media platform to spread awarness to fight against pandemic corona.Stay away from myth and don't share wrong content as well as false myth. </p>
          
        </div>
      </div>
      <div class="card">
        <img class="card-img-top" src="{% static "corona/image/31.jpg"%}" alt="Card image cap">
        <div class="card-body">
          <a class="btn btn-outline-danger" href="{% static "corona/image/31.jpg"%}" download="awarness_programm">Download</a>
          <p class="card-text">Visitors are heartly, requested to use social media platform to spread awarness to fight against pandemic corona.Stay away from myth and don't share wrong content as well as false myth. </p>
          
        </div>
      </div>
      </div>
      <hr>
      <h3 style="color:red">To download these images, click over download button.#sharing #spreading_awarness #humanity #fight_against_corona #healthy_life.</h3>
      



</div>

{% block footer%}


{% endblock%}
{% endblock%}